{% extends "layout.html" %}

{% block body %}

<style>
  *{
    color: white;
  }
</style>


<img src="/static/M4.png" alt="girl" style=" width:30%; position: relative; top: 100px;">
<img src="/static/M5.png" alt="girl" style=" width:30%; position: relative; top: 100px; left: 550px;">
<div class="col-lg-5 mx-4%"  style="text-align: center; margin: 3% 25% 0 29%; position: relative; bottom: 400px;">
      <h1 style=" color: white;">Welcom to Music Streaming Application</h1>
      <div class="lead mb-4" style=" padding: 5%; text-align: center;">
        <h2 style="color: white;">Sign Up</h2>
        <a href="/admin" style="margin-right: 5%;"><button type="button" class="btn btn-primary btn-lg">Admin</button></a><a href="/user"><button type="button" class="btn btn-primary btn-lg">User</button></a>
      </div>
      <img src="/static/M3.png" alt="M2" style="width: 50%;">
</div>
    


{% endblock %}
