{% extends "navbar.html" %}
{% block body %}
<div class="container">
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>{{message}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}
</div>

<style>
  .font_awesome{
      font-size: 4rem;
      margin-left: 20px;
      margin-top: 3%;
      color: #c98adf;
  } 
  
  
</style>
<img src="/static/profile.png" alt="girl" style="width: 30%; position: relative;">
<div style="text-align: center; position: relative;bottom: 400px;">

<p class="font_awesome"><i class="fa-solid fa-circle-user fa-spin"></i>  {{user.username}}<p>
<p style="margin: 0% 0% 2% 6%;">{{user.email}}</p>

<div class="dropdown">
    <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="margin-left:6%; margin-bottom: 3.5%;">
      Your Playlist
    </button>
    
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      {% for play in play %}
      <div style="display: flex;">
      <li><a class="dropdown-item" href="/myplayList/{{play.name}}">{{play.name}}</a></li>
      <div class="col-4 text-right">
        <a href="/delete_playlist/{{play.id}}"><button class="btn-dark">delete</button></a>
      </div>
      <hr size="6">
      </div>
      {% endfor %}
    </ul>
    
  </div>
</div>
<hr size="6">


{% endblock %}